.write {
    padding-top: 50px;
  }
  
  .writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .writeForm {
    position: relative;
  }
  
  .writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
  }
  
  .writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  

  .pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 850px;
    margin-top:10px;
  }
  .header{
    display:block;
    font-family: inherit;   
    align-items: center;
  }
  .NewsTitle{
    font-size: 350%;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    text-align: center;   
  }