.header {
  margin-top: 60px;
  align-content: center;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: rgb(238, 223, 223);
}
.headerImage{
  margin-top: 0px;
  object-fit: scale-down;
  width: 100%;
  height:600px;
}
.title{
  color: white;
  font-weight: 700;
  font-size: 200%;
}
